@media screen and (max-width: 850px) and (orientation: landscape) {
    .menu-section, 
    .about-section {
        display: none !important;
    }
}

.menu-section, 
.about-section {
    padding: 50px 50px 0;
}

.section-title {
    color: #1267ad;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.menu-slider-div {
    margin-bottom: 30px;
}

.menu-slider-link div {
    width: 150px;
    border: #edb752 solid 3px;
    border-radius: 50%;
}

.menu-slider-link div::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0 , 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.menu-slider-link p {
    color: #ffffff;
    position: absolute;
    bottom: 55px;
    width: 150px;
    text-align: center;
}

.about-slider-item {
    position: relative;
}

.about-slider-div {
    margin-bottom: 50px;
}

.about-slider-item div {
    width: 350px;
}

.about-slider-item div::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0 , 0, 0, 0.4);
    width: 100%;
    height: 60px;
}

.about-slider-item p {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.btn {
    color: #edb752;
    border: #edb752 solid 1px;
    border-radius: 50px;
    text-align: center;
    width: 180px;
    padding: 10px 0;
    margin: auto;
    display: block;
    transition: .5s linear;
}

.btn:hover {
    color: #ffffff;
    background-color: #edb752;
    text-decoration: none;
}

@media (min-width: 1600px) {
    .about-slider-item div {
        width: 400px;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .about-slider-item div {
        width: 325px;
    }
}

@media (max-width: 1199px) {
    .about-slider-item div {
        width: 245px;
    }
}

/* Galaxy Tab S6 Landscape View */
@media only screen 
and (min-device-width : 1138px) 
and (max-device-width : 1138px) 
and (min-device-height : 712px) 
and (max-device-height : 712px) 
and (min-width: 1138px) 
and (max-width: 1138px)
and (orientation: landscape) {
    .about-slider-item div {
        width: 280px;
    }
}

/* iPad Pro Portrait View */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1024px) 
and (min-device-height : 1366px) 
and (max-device-height : 1366px) 
and (min-width: 1024px) 
and (max-width: 1024px)
and (orientation: portrait) {
    .about-slider-item div {
        width: 245px;
    }
}

@media (max-width: 991px) {
    .about-slider-item div {
        width: 270px;
    }
}

@media (max-width: 767px) {
    .menu-section, 
    .about-section {
        padding: 50px 15px 0;
    }
    .menu-slider-div {
        margin-bottom: 50px;
    }
    .menu-slider-link div {
        width: 100px;
    } 
    .menu-slider-link p {
        width: 100px;
        top: 45px
    }

    .about-slider-item div {
        width: 100%;
        height: 70vh;
    }
  }

/* Galaxy Tab S6 Portrait View */
@media only screen 
and (min-device-width : 712px) 
and (max-device-width : 712px) 
and (min-device-height : 1138px) 
and (max-device-height : 1138px) 
and (min-width: 712px) 
and (max-width: 712px)
and (orientation: portrait) {
    .menu-slider-div {
        margin-bottom: 30px;
    }
    .menu-slider-link div {
        width: 120px;
    } 
    .menu-slider-link p {
        width: 120px;
        top: 55px
    }
    .about-slider-item div {
        width: 280px;
        height: 280px;
    }
}

