@media screen and (max-width: 850px) and (orientation: landscape) {
    .menu-section {
        display: none !important;
    }
}

.menu-section {
    position: relative;
    padding: 0 50px;
}

.menu-box {
    border: #edb751 solid 3px;
    border-radius: 8px;
    padding: 80px 30px 30px;
}

.box-title {
    color: #1267ad;
    text-align: center;
    margin-bottom: 30px;
}

/*! Menu Img */
.menu-section div:nth-child(1) {
    width: 120px;
    height: 120px;
    border: #edb751 solid 3px;
    border-radius: 50%;
    display: block;
    margin: auto;
    position: absolute;
    top: 60px;
}

.menu-items {
    text-align: center;
}

.menu-items p:nth-child(odd) {
    margin-bottom: 0;
} 

@media (max-width: 767px) {
    .menu-section {
        position: relative;
        padding: 0 15px;
    }
    .menu-items {
        columns: 1;
    }
}